<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Employee Dteails</title>
</head>
<body>
<h2 style="color:red">Update Employee Details here!!!</h2>
<form action="" method="post">
<h4>
    <table>
        <tr><td>Name : </td><td><input type="text" name="name" value="{{data.Name}}"></td></tr>
        <tr><td>Age : </td><td><input type="text" name="age" value="{{data.Age}}"></td></tr>
        <tr><td>Department : </td><td><input type="text" name="department" value="{{data.Department}}"></td></tr>
        <tr><td>Email : </td><td><input type="text" name="email" value="{{data.Email}}"></td></tr>
        <tr><td>PhoneNo : </td><td><input type="text" name="phoneno" value="{{data.PhoneNo}}"></td></tr>
        <tr><td>Address : </td><td><input type="text" name="address" value="{{data.Address}}"></td></tr>
        <tr bgcolor="orange"><td><input style="background-color:peachpuff;" type="submit" value="Update Employee Details"></td></tr>
    </table>
</h4>
</form>
</body>
</html>